{% extends "kufiBattleshipBundle:Layouts:layout.html.twig" %}

{% block body %}
	<div id="mainScreen">
		Congratulations. You've created your account successfully.
		<a href="{{ path("bs_index") }}">To Startpage</a>
	</div>
{% endblock %}