@waterColor: #00C;
@hitColor: #E33;

body
{
    width:1000px;
    margin:auto;
    font-family:Arial;
}

.clear
{
    clear:both;
}

.field
{
    width:30px;
    height:30px;
    background-color:@waterColor;
    padding:0px;
    margin:0px;
    .rounded-corners(20px);
}

.addShip
{
    background-color:lighten(@waterColor, 30%);
}

.shoot
{
    background-color:lighten(@hitColor, 5%);
}

.shipAdded
{
    background-color:lighten(@waterColor, 50%);
}

.shot
{
    background-color:darken(@waterColor, 20%);
}

.hit
{
    background-color:@hitColor;
}

#fields
{
    .rounded-corners;
    
    background-color:lighten(@waterColor, 10%   );
    width:1000px;
}

.gameField
{
    float:left;
    border:0px;
    border-collapse: collapse;
    margin:20px;
    margin-left:120px;
    transform:rotateX(60deg) rotate(45deg);
    -webkit-transform:rotateX(60deg) rotate(45deg);
    -moz-transform:rotateX(60deg) rotate(45deg);
}

#ships
{
    float:left;
    margin-right:20px;
}

#messages
{
    height:25px;
    margin-top:15px;
    margin-bottom:35px;
}

#message
{
    display:none;
    width:400px;
    margin:auto;
}

.messageField
{
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.info
{
  .messageField;
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('/Battleships/web/bundles/battleships/images/Info.png');
}

.success
{
  .messageField;
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('/Battleships/web/bundles/battleships/images/Valid_Green.png');
}

.warning
{
  .messageField;
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('/Battleships/web/bundles/battleships/images/Attention.png');
}

.error
{
  .messageField;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('/Battleships/web/bundles/battleships/images/Cancel.png');
}

#ships, #orientation
{
    margin-top:10px;
}

#ships
{
    margin-left:90px;
}

@controlPanelHeight: 50px;
@linkPadding: 12px;
@linkColor: #EEE;
#controlPanel
{
    background-color:@waterColor;
    height:@controlPanelHeight;
    .rounded-corners-bottom;
    
    a
    {
        padding:@linkPadding;
        color:@linkColor;
        text-decoration: none;
        height:@controlPanelHeight - 2 * @linkPadding;
        background-color:lighten(@waterColor, 10%);
        display:block;
        float:left;
        font-weight:bold;
        font-size:20px;
        .rounded-corners-bottom;
        margin-right:10px;
        
        &:hover
        {
            color:lighten(@linkColor, 10%);
            background-color:lighten(@waterColor, 30%);
        }
    }
}

.rounded-corners-bottom (@radius: 20px) {
    -webkit-border-bottom-right-radius: @radius;
    -webkit-border-bottom-left-radius: @radius;
    -moz-border-radius-bottomright: @radius;
    -moz-border-radius-bottomleft: @radius;
    border-bottom-right-radius: @radius;
    border-bottom-left-radius: @radius;
}

.rounded-corners(@radius: 20px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}