@waterColor: #00C;
@hitColor: #E33;

body
{
    width:1000px;
    margin:auto;
    font-family:Arial;
}

#mainScreen
{
    .rounded-corners;

    margin:auto;
    margin-top:30px;
    background-color:#EEE;
    padding:20px;
    height:300px;
    border:solid 1px #CCC;
    width:400px;
    
    &.wide
    {
        width:800px;
    }
    
    &.centering
    {
        text-align:center;
    }
    
    h1
    {
        font-size:18px;
    }
    
    a
    {
        margin:auto;
        width:200px;
        text-align:center;
        margin-bottom:10px;
        display:block;
        text-decoration:none;
        font-size:20px;
        background-color:white;
        width:200px;
        .rounded-corners;
        padding:5px;
        color:@waterColor;
        border:solid 1px #CCC;
        
        &:hover
        {
            background-color:@waterColor;
            color:white;
        }
    }
    
    form
    {
        width:350px;
        margin:auto;
        margin-bottom:50px;
        
        label
        {
            float:left;
            width:100px;
            margin-top:5px;
        }
        
        input
        {
            display:block;
            margin-bottom:5px;
            background-color:white;
            border:solid 1px #CCC;
            .rounded-corners;
            padding-left:10px;
        }
        
        input[type=submit]
        {
            float:right;
            
            &:hover, &:focus
            {
                background-color:@waterColor;
                color:white;
            }
        }
    }
}

.clear
{
    clear:both;
}

.field
{
    width:30px;
    height:30px;
    background-color:@waterColor;
    padding:0px;
    margin:0px;
    .rounded-corners(20px);
}

.addShip
{
    background-color:lighten(@waterColor, 30%);
}

.shoot
{
    background-color:lighten(@hitColor, 5%);
}

.shipAdded
{
    background-color:lighten(@waterColor, 50%);
}

.shot
{
    background-color:darken(@waterColor, 20%);
}

.hit
{
    background-color:@hitColor;
}

#fields
{
    .rounded-corners;
    
    background-color:lighten(@waterColor, 10%   );
    width:1000px;
}

.gameField
{
    float:left;
    border:0px;
    border-collapse: collapse;
    margin:20px;
    margin-left:120px;
    transform:rotateX(60deg) rotate(45deg);
    -webkit-transform:rotateX(60deg) rotate(45deg);
    -moz-transform:rotateX(60deg) rotate(45deg);
}

#ships
{
    float:left;
    margin-right:20px;
}

#messages
{
    height:25px;
    margin-top:15px;
    margin-bottom:35px;
}

#message
{
    display:none;
    width:400px;
    margin:auto;
}

.messageField
{
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.info
{
  .messageField;
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('/Battleships/web/bundles/battleships/images/Info.png');
}

.success
{
  .messageField;
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('/Battleships/web/bundles/battleships/images/Valid_Green.png');
}

.warning
{
  .messageField;
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('/Battleships/web/bundles/battleships/images/Attention.png');
}

.error
{
  .messageField;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('/Battleships/web/bundles/battleships/images/Cancel.png');
}

#ships, #orientation
{
    margin-top:10px;
}

#ships
{
    margin-left:90px;
}

@controlPanelHeight: 50px;
@linkPadding: 12px;
@linkColor: #EEE;
#controlPanel
{
    background-color:@waterColor;
    height:@controlPanelHeight;
    .rounded-corners-bottom;
    
    a
    {
        padding:@linkPadding;
        color:@linkColor;
        text-decoration: none;
        height:@controlPanelHeight - 2 * @linkPadding;
        background-color:lighten(@waterColor, 10%);
        display:block;
        float:left;
        font-weight:bold;
        font-size:20px;
        .rounded-corners-bottom;
        margin-right:10px;
        
        &:hover
        {
            color:lighten(@linkColor, 10%);
            background-color:lighten(@waterColor, 30%);
        }
    }
    
    .user
    {
        color:white;
        float:right;
        margin-right:20px;
        margin-top:15px;
        
        .name
        {
            font-weight:bold;
        }
    }
}

.rounded-corners-bottom-left(@radius: 20px)
{
    -webkit-border-bottom-left-radius: @radius;
    -moz-border-radius-bottomleft: @radius;
    border-bottom-left-radius: @radius;
}

.rounded-corners-bottom-right(@radius: 20px)
{
    -webkit-border-bottom-right-radius: @radius;
    -moz-border-radius-bottomright: @radius;
    border-bottom-right-radius: @radius;
}

.rounded-corners-bottom (@radius: 20px) {
    .rounded-corners-bottom-left(@radius);
    .rounded-corners-bottom-right(@radius);
}

.rounded-corners-top-left(@radius: 20px)
{
    -webkit-border-top-left-radius: @radius;
    -moz-border-radius-topleft: @radius;
    border-top-left-radius: @radius;
}

.rounded-corners-top-right(@radius: 20px)
{
    -webkit-border-top-right-radius: @radius;
    -moz-border-radius-topright: @radius;
    border-top-right-radius: @radius;
}

.rounded-corners-top (@radius: 20px)
{
    .rounded-corners-top-left(@radius);
    .rounded-corners-top-right(@radius);   
}

.rounded-corners(@radius: 20px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.table
{
    background-color:white;
    .rounded-corners;
    padding:10px;
    width:100%;
    border-collapse: collapse;
    
    thead
    {
        th
        {
            padding:5px;
            background-color:@waterColor;
            color:white;
            
            &.first
            {
                .rounded-corners-top-left;
            }
            
            &.last
            {
                .rounded-corners-top-right;
            }
        }
    }
    
    tr
    {
        td
        {
            padding:8px;
            border-left:1px solid #CCC;
            text-align:center;
            
            &.first
            {
                border-width:0px;
            }
        }
    }
}