{% extends "kufiBattleshipBundle:Layouts:layout.html.twig" %}

{% block body %}
    <div id="mainScreen">
        <form action="{{ path("bs_mp_createNew") }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
			
			<input type="submit" value="Create game" />
		</form>
    </div>
{% endblock %}