<div id="ships">
    <input type="radio" checked="checked" name="ships" id="carrier" {% if game.hasShipWithLength(5, app.user) %} disabled="disabled" {% endif %} value="5" />
	<label for="carrier">Carrier</label>
	
	<input type="radio" name="ships" id="battleship" {% if game.hasShipWithLength(4, app.user) %} disabled="disabled" {% endif %} value="4" />
	<label for="battleship">Battleship</label>
	
	<input type="radio" name="ships" id="cruiser" {% if game.hasShipWithLength(3, app.user) %} disabled="disabled" {% endif %} value="3" />
	<label for="cruiser">Cruiser</label>
	
	<input type="radio" name="ships" id="submarine" {% if game.hasShipWithLength(2, app.user) %} disabled="disabled" {% endif %} value="2" />
	<label for="submarine">Submarine</label>
	
	<input type="radio" name="ships" id="destroyer" {% if game.hasShipWithLength(1, app.user) %} disabled="disabled" {% endif %} value="1" />
	<label for="destroyer">Destroyer</label>
</div>

<div id="orientation">
	<input type="radio" checked="checked" name="orientation" id="horizontal" value="1" />
	<label for="horizontal">Horizontal</label>
	
	<input type="radio" name="orientation" id="vertical" value="2" />
	<label for="vertical">Vertical</label>
</div>